body
{
    background-color: #FFC140;
    font-family: 'Inconsolata', monospace;
}

*
{
    margin: 0;
    border: 0;
    padding: 0;
}

.cb
{
    clear: both;
}

#header
{
    background-color: #FF7F00;
    padding: 2vh;
    height: 6vh;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}

#container
{
    margin: 15vh auto 5vh auto;
    width: 90vw;
    height: 74vh;
}

#footer
{
    background-color: #000000;
    color: #ffffff;
    padding: 2vh 0;
    text-align: center;
    font-size: 1.5vh;
    height: 2vh;
}
#headbar
{
    position: absolute;
    left: 5vw;
    top: 2vh;
    width: 90vw;
    margin: 0 auto;
}
#name
{
    font-size: 4vh;
    width: 50vw;
    margin-top: 1vh;
}

#clock
{
    position: absolute;
    text-align: right;
    left: 0;
    top: 0;
    font-size: 6vh;
    width: 90vw;
}

table
{
    text-align: center;
    width: 90vw;
    height: 70vh;
    border-spacing: 1vw 1vh;
}
td
{
    border-radius: 1vw;
    border-right: 0.5vw solid rgba(0, 0, 0, 0.5);
    padding-right: 0.5vw;
}
td:hover
{
    border-right: 1vw solid rgba(0, 0, 0, 0.5);
    padding-right: 0;
}
#opt1
{
    background-color: #0072C6;
}

#opt2
{
    background-color: #2B8E00;
}

#opt3
{
    background-color: #FF7F00;
}

#opt4
{
    background-color: #3b5998;
}

.option h2
{
    font-weight: inherit;
    font-size: 1.5vw;
    margin-top: 1vh;
}

#longbar
{
    background-color: #2B8E00;
}

#content
{
    background-color: #FF7F00;
    width: 50%;
    padding: 5%;
}
#content ul
{
    text-align: left;
}
#ml
{
    background-color: #0072C6;
}
#gh
{
    background-color: #FFFFFF;
}
#fb
{
    background-color: #3b5998;
}

#container i
{
    font-size: 10vh;
}