body
{
    background-color: #FF7F00;
    font-family: 'Inconsolata', monospace;
}

*
{
    margin: 0;
    border: 0;
    padding: 0;
}

.cb
{
    clear: both;
}

#header
{
    background-color: #EF002A;
    padding: 2vh;
    height: 6vh;
    position: fixed;
    width: 100vw;
    top: 0;
    left: 0;
}

#container
{
    margin: 15vh auto 5vh auto;
    width: 90vw;
    height: 74vh;
}

#footer
{
    background-color: #000000;
    color: #ffffff;
    padding: 2vh 0;
    text-align: center;
    font-size: 1.5vh;
    height: 2vh;
}
#headbar
{
    position: absolute;
    left: 5vw;
    top: 2vh;
    width: 90vw;
    margin: 0 auto;
}
#name
{
    font-size: 4vh;
    width: 50vw;
    margin-top: 1vh;
}

#clock
{
    position: absolute;
    text-align: right;
    left: 0;
    top: 0;
    font-size: 6vh;
    width: 90vw;
}

.column
{
    width: 50%;
    float: left;
    height: 100%;
}

#options
{
    height: 66%;
}

.option
{
    float: left;
    width: 21.8vw;
    margin: 0.7vh 0 0 0.45vw;
    text-align: center;
    height: 48%;
}

#opt1
{
    background-color: #04819E;
}

#opt2
{
    background-color: #2B8E00;
}

#opt3
{
    background-color: #F73E5F;
}

#opt4
{
    background-color: rgb(51, 93, 171);
}


#longbar
{
    background-color: #00A67C;
    height: 32%;
    margin: 1% 0.45vw;
    width: 98%;
}

#content
{
    height: 54%;
    width: 88%;
    padding: 3.8vh 2.25vw;
    margin: 0.7vh 0.45vw;
    background-color: #5E2580;
    overflow: hidden;
}

#socials
{
    height: 34%;
}

.social
{
    float: left;
    background-color: #AAAAAA;
    margin: 0.7vh 0 0.7vh 0.45vw;
    width: 14.4vw;
    height: 24vh;
    text-align: center;
}