
.icon-user:before { content: '\e800'; } /* '' */
.icon-mail:before { content: '\e801'; } /* '' */
.icon-picture:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-clipboard:before { content: '\e804'; } /* '' */
.icon-github:before { content: '\f300'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */